@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');



.game-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.game-page-container h1 {
    font-family: "Bitcount Grid Double", sans-serif;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #333333;
}


.food-list{
    width: 80%;
}

.winner-image {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
}

.shuffle-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restaurant-list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.restaurant-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.restaurant-item {
    font-family: "Playfair", serif;
    font-size: 1.2rem;
    min-width: 250px;
    max-width: 350px;
    width: 100%;
    flex: 0 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    background-color: #f9f9f9;
}

.game-completed{
    font-family: "Bitcount Grid Double", sans-serif;
    padding: 20px;
}